<div class="container-fluid" id="home">
  <div class="card">
    <h5 class="card-header text-center">Home</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-sm">
                <h3>Salle 1</h3>
                <h5>Camera Salle 1</h5>
                <video id="video" class="border border-success" width="802" height="auto" playsinline autoplay muted></video>
                <h5>Ecran Salle 1</h5>
                <video id="EcranSalle1" width="802" height="auto" style='-webkit-transform: scaleX(-1);transform: scaleX(-1);'></video>
                <div id="ButtonLancementCalibrageSalle1"></div>
            </div>
            <div class="col-sm">
                <h3>Salle 2</h3>
                <h5>Camera Salle 2</h5>
                <video id="video2" class="border border-success" width="802" height="auto" playsinline autoplay muted></video>
                <h5>Ecran Salle 2</h5>
                <video id="EcranSalle2" width="802" height="auto" style='-webkit-transform: scaleX(-1);transform: scaleX(-1);'></video>
                <div id="ButtonLancementCalibrageSalle2"></div>
            </div> 
            <div class="col-sm"> 
                <h3>Salle 3</h3>
                <h5>Camera Salle 3</h5>
                <video id="video3" class="border border-success" width="802" height="auto" playsinline autoplay muted></video>
                <h5>Ecran Salle 3</h5>
                <video id="EcranSalle3" width="802" height="auto" style='-webkit-transform: scaleX(-1);transform: scaleX(-1);'></video>
                <div id="ButtonLancementCalibrageSalle3"></div>
            </div>
        </div>
</div>
</div>
    <div id="buttonLancementCalibrage"></div>
    <!-- <button type="button" id="HomeButtonCommencerExp" class="btn btn-outline-success btn-lg btn-block">Commencer l'expérience</button> -->
    <!-- <button type="button" id="HomeButtonStopperExp" class="btn btn-outline-danger btn-lg btn-block">Stopper l'expérience</button> -->
    <div id="selectScanrioDirect" ></div>

    <div class="card">
        <h5 class="card-header text-center">Interaction en direct</h5>
            <div class="card-body">
                <div>
                    <div id="Scenario_direct_lattence"></div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="ImageSalle1">Choisir une 
                                <select id="HomeImageOrVideo">
                                    <option value="no" selected>--</option>
                                    <option value="image">image</option>
                                    <option value="video">vidéo</option>
                                </select> dans la 
                                <select id="HomeImageVideo">
                                    <option value="no" selected>--</option>
                                    <option value="Salle1">salle 1</option>
                                    <option value="Salle2">salle 2</option>
                                    <option value="Salle3">salle 3</option>
                                </select>
                            </label>
                            <input type="file" class="form-control-file" id="HomeFileImageVideo" accept="image/* video/*" disabled>
                        </div>
                        <h5 class="card-title">En pixel</h5>
                        <div class="row">
                            <div class="col">
                                <label>x :</label>
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control homeValeur" value="0" id="HomeInputPixelPositionX" step="1" min="0" max="2560">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">px</span>
                                    </div>
                                </div>
                                <label>Largeur</label>
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control homeValeur" value="0" id="HomeInputPixelPositionLargeur" step="1" min="0" max="2560">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">px</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <label>y :</label>
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control homeValeur" value="0" id="HomeInputPixelPositionY" step="1" min="0" max="1440">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">px</span>
                                    </div>
                                </div>
                                <label>Longueur</label>
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control homeValeur" value="0" id="HomeInputPixelPositionLongueur" step="1" min="0" max="1440">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">px</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5 class="card-title">Réglage dans le temps</h5>
                        <div class="row">
                            <div class="col">
                                <label>Durée en ms</label>
                                <input type="number" value="1" step="1" min="1"  class="form-control homeValeur" id="HomeInputDuree" >
                            </div>
                            <div class="col">
                                <label>A quel moment ? (en ms)</label>
                                <input type="number" value="1" step="1" min="1" class="form-control homeValeur" id="HomeInputMoment" step="0.1">
                            </div>
                        </div>
                        <button class="btn btn-success" type="button" id="HomeButtonAdd" disabled="">Ajouter</button>
                    </div>
                    <script type="text/javascript" async>
                        var generator = require('generate-password');
                        $("#HomeImageOrVideo").change(function(){
                            if($(this).val()!="no"){
                                $("#HomeFileImageVideo").attr("disabled",false);
                                ( $(this).val() == "image" && $("#HomeFileImageVideo").attr("accept","image/*") ); 
                                ( $(this).val() == "video" && $("#HomeFileImageVideo").attr("accept","video/*") );
                                ($("#HomeImageVideo").val() != "no" && $("#HomeButtonAdd").attr("disabled",false));
                            }
                            else{
                                $("#HomeFileImageVideo").attr("disabled",true)
                                $("#HomeButtonAdd").attr("disabled",true)
                            }
                        })
                        $("#HomeImageVideo").change(function(){
                            if($(this).val()!="no"){
                                ($("#HomeImageOrVideo").val() != "no" && $("#HomeButtonAdd").attr("disabled",false));
                            }
                            else{
                                $("#HomeButtonAdd").attr("disabled",true)
                            }
                        })
                        $("#HomeFileImageVideo").change(function(){
                            var urlFile = $(this)[0].files[0].path;
                            var urlFile = urlFile.replace(/\\/g,"\\\\");
                            //alert(urlFile);
                        })
                        $("#HomeButtonAdd").click(function(){
                            var _Salle_=$("#HomeImageVideo").val();
                            var HomeRight= $("#HomeInputPixelPositionX").val();
                            var HomeTop = $("#HomeInputPixelPositionY").val();
                            var HomeWidth = $("#HomeInputPixelPositionLargeur").val()|| "auto";
                            var HomeHeight = $("#HomeInputPixelPositionLongueur").val()|| "auto";
                            var HomeDuree=$("#HomeInputDuree").val();
                            var HomeMoment=$("#HomeInputMoment").val()
                            var id= generator.generate({length: 20,numbers: true});
                            var img = '<img src="'+$("#HomeFileImageVideo")[0].files[0].path.replace(/\\/g,"\\\\")+'" id="'+id+'" style="-webkit-transform: scaleX(-1);transform: scaleX(-1); position: fixed;right:'+HomeRight+'px;top:'+HomeTop+'px;" width="'+HomeWidth+'px" height="'+HomeHeight+'px">';
                            var vid = '<video src="'+$("#HomeFileImageVideo")[0].files[0].path.replace(/\\/g,"\\\\")+'" id="'+id+'" style="-webkit-transform: scaleX(-1);transform: scaleX(-1); position: fixed;right:'+HomeRight+'px;top:'+HomeTop+'px;" width="'+HomeWidth+'px" height="auto" autoplay muted></video>';
                            ($("#HomeImageOrVideo").val()=="image")?vid=null:img=null;
                            io.emit(_Salle_+'_img_video', { content: img||vid, duree: HomeDuree, moment: HomeMoment,id: id});
                        })
                    </script>
                </div>
            </div>
    </div>
</div>

<div class="modal fade" id="ModalOptionSalle1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Config dans la salle 1</h5>
      </div>
      <div class="modal-body">
        <div class="select">
            <label for="audioSource">Audio input source: </label><select id="audioSource"></select>
        </div>
        <div class="select">
            <label for="audioOutput">Audio output destination: </label><select id="audioOutput"></select>
        </div>
        <div class="select">
            <label for="videoSource">Video source: </label><select id="videoSource"></select>
        </div>
        <div class="select">
            <div id="listeEyeTrSalle1"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary SaveOption" id="SaveOptionSalle1">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalOptionSalle2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Config dans la salle 2</h5>
      </div>
      <div class="modal-body">
        <div class="select">
            <label for="audioSource2">Audio input source: </label><select id="audioSource2"></select>
        </div>
        <div class="select">
            <label for="audioOutput2">Audio output destination: </label><select id="audioOutput2"></select>
        </div>
        <div class="select">
            <label for="videoSource2">Video source: </label><select id="videoSource2"></select>
        </div>
        <div class="select">
            <div id="listeEyeTrSalle2"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary SaveOption" id="SaveOptionSalle2">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalOptionSalle3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Config dans la salle 3</h5>
      </div>
      <div class="modal-body">
        <div class="select">
            <label for="audioSource3">Audio input source: </label><select id="audioSource3"></select>
        </div>

        <div class="select">
            <label for="audioOutput3">Audio output destination: </label><select id="audioOutput3"></select>
        </div>

        <div class="select">
            <label for="videoSource3">Video source: </label><select id="videoSource3"></select>
        </div>
        <div class="select">
           <div id="listeEyeTrSalle3"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="SaveOptionSalle3" >Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalConvertVideo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Eye tracking works ...</h5>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="SaveOptionSalle3" >Save changes</button>
      </div>
    </div>
  </div>
</div>

<div id="ModalWebMToMp4_"></div>

<script type="text/javascript" async>
    var iiiiiiii=0;
    var iiiiiiii_=[];
    function wbemToMp4(urlVideoWebm,urlVideoMp4)
    {
        iiiiiiii++;
        iiiiiiii_.push({urlVideoWebm:urlVideoWebm,urlVideoMp4:urlVideoMp4});
        
        $('#ModalWebMToMp4').modal('show');
        const {shell} = require('electron'); // deconstructing assignment
        shell.openItem(fileSave);
        
        /*var command = ffmpeg(urlVideoWebm+'.webm').format('mp4').save(urlVideoMp4+'.mp4').on('end', function() {
            console.log("end "+urlVideoMp4)
        }).on('start', function() {
            console.log("start");
        });*/

        /*var test = ffmpeg().ffmpeg().input(urlVideoWebm+'.webm').input(__dirname+"/salle2.webm").complexFilter(['[0:v]scale=300:300[0scaled]','[1:v]scale=300:300[1scaled]','[0scaled]pad=600:300[0padded]','[0padded][1scaled]overlay=shortest=1:x=300[output]']).outputOptions(['-map [output]']).output("output.mp4").run();  //ffmpeg().mergeAdd(urlVideoWebm+'.webm').format('mp4').mergeAdd(__dirname+"/salle2.webm").size('640x480').format('mp4');
        test.save(__dirname+'/'+iiiiiiii+'.mp4')*/
    }
</script>

<script type="text/javascript">
    $('#ModalOptionSalle1').modal('show')
    $('#SaveOptionSalle1').click(function(){
        $('#ModalOptionSalle1').modal('hide')
        $('#ModalOptionSalle2').modal('show')
    })
    $('#SaveOptionSalle2').click(function(){
        $('#ModalOptionSalle2').modal('hide')
        $('#ModalOptionSalle3').modal('show')
    })
    $('#SaveOptionSalle3').click(function(){
        $('#ModalOptionSalle3').modal('hide')
    })
</script>

<script type="text/javascript" async>
    var recordedBlobs_salle1;
    var mediaRecorder_salle1;
    var reader_salle1 = new FileReader()

    function handleDataAvailable_salle1(event) {
      if (event.data && event.data.size > 0) {
        recordedBlobs_salle1.push(event.data);
      }
    }

    function startRecording_salle1(time_start) {

      recordedBlobs_salle1 = [];
      let options = {mimeType: 'video/webm'};
        if (!MediaRecorder.isTypeSupported(options.mimeType)) {
            console.error(`${options.mimeType} is not Supported`);
            errorMsgElement.innerHTML = `${options.mimeType} is not Supported`;
            options = {mimeType: 'video/webm;codecs=vp8'};
            if (!MediaRecorder.isTypeSupported(options.mimeType)) {
              console.error(`${options.mimeType} is not Supported`);
              errorMsgElement.innerHTML = `${options.mimeType} is not Supported`;
              options = {mimeType: 'video/webm'};
              if (!MediaRecorder.isTypeSupported(options.mimeType)) {
                console.error(`${options.mimeType} is not Supported`);
                errorMsgElement.innerHTML = `${options.mimeType} is not Supported`;
                options = {mimeType: ''};
              }
            }
        }
    try {
        const process = require('process');
        var t = process.hrtime()
        mediaRecorder_salle1 = new MediaRecorder(window.stream, options);
        time_start.push({video_salle1_start:t[0].toString()+(t[1]/1000).toString()});
    }catch (e) {
        console.error('Exception while creating MediaRecorder:', e);
        errorMsgElement.innerHTML = `Exception while creating MediaRecorder: ${JSON.stringify(e)}`;
        return;
    }

      console.log('Created MediaRecorder', mediaRecorder_salle1, 'with options', options);
      mediaRecorder_salle1.onstop = (event) => {
        console.log('Recorder stopped: ', event);
        SaveFile_salle1();
      };
      mediaRecorder_salle1.ondataavailable = handleDataAvailable_salle1;
      mediaRecorder_salle1.start(40); // collect 10ms of data
      console.log('MediaRecorder started', mediaRecorder_salle1);
    }
    function stopRecording_salle1(time_stop) {
        const process = require('process');
        var t = process.hrtime()
        time_stop.push({video_salle1_stop:t[0].toString()+(t[1]/1000).toString()});
        mediaRecorder_salle1.stop();
    }

    function SaveFile_salle1(){
        const blob = new Blob(recordedBlobs_salle1, {type: 'video/webm'});
        reader_salle1.readAsArrayBuffer(blob)
    }
    
    reader_salle1.onload = function(){
        var buffer = new Buffer(reader_salle1.result)
        fs.writeFile(fileSave+"/salle1.webm", buffer, {}, (err, res) => {
            if(err){
                console.error(err)
                return
            }
            var URL_video=fileSave+"\\salle1";
            var URL_video_mp4=fileSave+'\\salle1';
            wbemToMp4(URL_video,URL_video_mp4);
        })
    }
</script>

<script type="text/javascript" async>
    var recordedBlobs_salle2;
    var mediaRecorder_salle2;
    var reader_salle2 = new FileReader()

    function handleDataAvailable_salle2(event) {
      if (event.data && event.data.size > 0) {
        recordedBlobs_salle2.push(event.data);
      }
    }

    function startRecording_salle2(time_start) {
      recordedBlobs_salle2 = [];
      let options = {mimeType: 'video/webm'};
        if (!MediaRecorder.isTypeSupported(options.mimeType)) {
            console.error(`${options.mimeType} is not Supported`);
            errorMsgElement.innerHTML = `${options.mimeType} is not Supported`;
            options = {mimeType: 'video/webm;codecs=vp8'};
            if (!MediaRecorder.isTypeSupported(options.mimeType)) {
              console.error(`${options.mimeType} is not Supported`);
              errorMsgElement.innerHTML = `${options.mimeType} is not Supported`;
              options = {mimeType: 'video/webm'};
              if (!MediaRecorder.isTypeSupported(options.mimeType)) {
                console.error(`${options.mimeType} is not Supported`);
                errorMsgElement.innerHTML = `${options.mimeType} is not Supported`;
                options = {mimeType: ''};
              }
            }
        }
    try {
        const process = require('process');
        var t = process.hrtime()
        mediaRecorder_salle2 = new MediaRecorder(window.stream_salle2, options);
        time_start.push({video_salle2_start:t[0].toString()+(t[1]/1000).toString()});
    }catch (e) {
        console.error('Exception while creating MediaRecorder:', e);
        errorMsgElement.innerHTML = `Exception while creating MediaRecorder: ${JSON.stringify(e)}`;
        return;
    }

      console.log('Created MediaRecorder', mediaRecorder_salle2, 'with options', options);
      mediaRecorder_salle2.onstop = (event) => {
        console.log('Recorder stopped: ', event);
        SaveFile_salle2();
      };
      mediaRecorder_salle2.ondataavailable = handleDataAvailable_salle2;
      mediaRecorder_salle2.start(40); // collect 10ms of data
      console.log('MediaRecorder started', mediaRecorder_salle2);
    }
    function stopRecording_salle2(time_stop) {
        const process = require('process');
        var t = process.hrtime()
        time_stop.push({video_salle2_stop:t[0].toString()+(t[1]/1000).toString()});
      mediaRecorder_salle2.stop();
    }

    function SaveFile_salle2(){
        const blob = new Blob(recordedBlobs_salle2, {type: 'video/webm'});
        reader_salle2.readAsArrayBuffer(blob)
    }
    
    reader_salle2.onload = function(){
        var buffer = new Buffer(reader_salle2.result)
        fs.writeFile(fileSave+"/salle2.webm", buffer, {}, (err, res) => {
            if(err){
                console.error(err)
                return
            }
            console.log('video saved')
            wbemToMp4(fileSave+"/salle2",fileSave+'\\salle2')
        })
    }
</script>

<script type="text/javascript" async>
    var recordedBlobs_salle3;
    var mediaRecorder_salle3;
    var reader_salle3 = new FileReader()

    function handleDataAvailable_salle3(event) {
      if (event.data && event.data.size > 0) {
        recordedBlobs_salle3.push(event.data);
      }
    }

    function startRecording_salle3(time_start) {
      recordedBlobs_salle3 = [];
      let options = {mimeType: 'video/webm'};
        if (!MediaRecorder.isTypeSupported(options.mimeType)) {
            console.error(`${options.mimeType} is not Supported`);
            errorMsgElement.innerHTML = `${options.mimeType} is not Supported`;
            options = {mimeType: 'video/webm;codecs=vp8'};
            if (!MediaRecorder.isTypeSupported(options.mimeType)) {
              console.error(`${options.mimeType} is not Supported`);
              errorMsgElement.innerHTML = `${options.mimeType} is not Supported`;
              options = {mimeType: 'video/webm'};
              if (!MediaRecorder.isTypeSupported(options.mimeType)) {
                console.error(`${options.mimeType} is not Supported`);
                errorMsgElement.innerHTML = `${options.mimeType} is not Supported`;
                options = {mimeType: ''};
              }
            }
        }
    try {
        const process = require('process');
        var t = process.hrtime()
        mediaRecorder_salle3 = new MediaRecorder( window.stream_salle3, options);
        time_start.push({video_salle3_start:t[0].toString()+(t[1]/1000).toString()});
        console
    }catch (e) {
        console.error('Exception while creating MediaRecorder:', e);
        errorMsgElement.innerHTML = `Exception while creating MediaRecorder: ${JSON.stringify(e)}`;
        return;
    }

      console.log('Created MediaRecorder', mediaRecorder_salle3, 'with options', options);
      mediaRecorder_salle3.onstop = (event) => {
        console.log('Recorder stopped: ', event);
        SaveFile_salle3();
      };
      mediaRecorder_salle3.ondataavailable = handleDataAvailable_salle3;
      mediaRecorder_salle3.start(40); // collect 10ms of data
      console.log('MediaRecorder started', mediaRecorder_salle3);
    }
    function stopRecording_salle3(time_stop){
        const process = require('process');
        var t = process.hrtime()
        time_stop.push({video_salle3_stop:t[0].toString()+(t[1]/1000).toString()});
      mediaRecorder_salle3.stop();
    }

    function SaveFile_salle3(){
        const blob = new Blob(recordedBlobs_salle3, {type: 'video/webm'});
        reader_salle3.readAsArrayBuffer(blob)
    }
    
    reader_salle3.onload = function(){
        var buffer = new Buffer(reader_salle3.result)
        fs.writeFile(fileSave+"/salle3.webm", buffer, {}, (err, res) => {
            if(err){
                console.error(err)
                return
            }
            console.log('video saved')
            wbemToMp4(fileSave+"/salle3",fileSave+'\\salle3')
        })
    }
</script>

<script type="text/javascript" async>
    var recordedBlobs_salle1_Ecran;
    var mediaRecorder_salle1_Ecran;
    var reader_salle1_Ecran = new FileReader()

    function handleDataAvailable_salle1_Ecran(event) {
      if (event.data && event.data.size > 0) {
        recordedBlobs_salle1_Ecran.push(event.data);
      }
    }

    function startRecording_salle1_Ecran() {
      recordedBlobs_salle1_Ecran = [];
      let options = {mimeType: 'video/webm'};
        if (!MediaRecorder.isTypeSupported(options.mimeType)) {
            console.error(`${options.mimeType} is not Supported`);
            errorMsgElement.innerHTML = `${options.mimeType} is not Supported`;
            options = {mimeType: 'video/webm;codecs=vp8'};
            if (!MediaRecorder.isTypeSupported(options.mimeType)) {
              console.error(`${options.mimeType} is not Supported`);
              errorMsgElement.innerHTML = `${options.mimeType} is not Supported`;
              options = {mimeType: 'video/webm'};
              if (!MediaRecorder.isTypeSupported(options.mimeType)) {
                console.error(`${options.mimeType} is not Supported`);
                errorMsgElement.innerHTML = `${options.mimeType} is not Supported`;
                options = {mimeType: ''};
              }
            }
        }
    try {
        mediaRecorder_salle1_Ecran = new MediaRecorder( document.getElementById('EcranSalle1').srcObject, options);
    }catch (e) {
        console.error('Exception while creating MediaRecorder:', e);
        errorMsgElement.innerHTML = `Exception while creating MediaRecorder: ${JSON.stringify(e)}`;
        return;
    }

      console.log('Created MediaRecorder', mediaRecorder_salle1_Ecran, 'with options', options);
      mediaRecorder_salle1_Ecran.onstop = (event) => {
        console.log('Recorder stopped: ', event);
        SaveFile_salle1_Ecran();
      };
      mediaRecorder_salle1_Ecran.ondataavailable = handleDataAvailable_salle1_Ecran;
      mediaRecorder_salle1_Ecran.start(40); // collect 10ms of data
      console.log('MediaRecorder started', mediaRecorder_salle1_Ecran);
    }
    function stopRecording_salle1_Ecran() {
      mediaRecorder_salle1_Ecran.stop();
    }

    function SaveFile_salle1_Ecran(){
        const blob = new Blob(recordedBlobs_salle1_Ecran, {type: 'video/webm'});
        reader_salle1_Ecran.readAsArrayBuffer(blob)
    }
    
    reader_salle1_Ecran.onload = function(){
        var buffer = new Buffer(reader_salle1_Ecran.result)
        fs.writeFile(fileSave+"/salle1_Ecran.webm", buffer, {}, (err, res) => {
            if(err){
                console.error(err)
                return
            }
            console.log('video saved')
            wbemToMp4(fileSave+"/salle1_Ecran",fileSave+'\\salle1_Ecran')
        })
    }
</script>

<script type="text/javascript" async>
    var recordedBlobs_salle2_Ecran;
    var mediaRecorder_salle2_Ecran;
    var reader_salle2_Ecran = new FileReader()

    function handleDataAvailable_salle2_Ecran(event) {
      if (event.data && event.data.size > 0) {
        recordedBlobs_salle2_Ecran.push(event.data);
      }
    }

    function startRecording_salle2_Ecran() {
      recordedBlobs_salle2_Ecran = [];
      let options = {mimeType: 'video/webm'};
        if (!MediaRecorder.isTypeSupported(options.mimeType)) {
            console.error(`${options.mimeType} is not Supported`);
            errorMsgElement.innerHTML = `${options.mimeType} is not Supported`;
            options = {mimeType: 'video/webm;codecs=vp8'};
            if (!MediaRecorder.isTypeSupported(options.mimeType)) {
              console.error(`${options.mimeType} is not Supported`);
              errorMsgElement.innerHTML = `${options.mimeType} is not Supported`;
              options = {mimeType: 'video/webm'};
              if (!MediaRecorder.isTypeSupported(options.mimeType)) {
                console.error(`${options.mimeType} is not Supported`);
                errorMsgElement.innerHTML = `${options.mimeType} is not Supported`;
                options = {mimeType: ''};
              }
            }
        }
    try {
        mediaRecorder_salle2_Ecran = new MediaRecorder( document.getElementById('EcranSalle2').srcObject, options);
    }catch (e) {
        console.error('Exception while creating MediaRecorder:', e);
        errorMsgElement.innerHTML = `Exception while creating MediaRecorder: ${JSON.stringify(e)}`;
        return;
    }

      console.log('Created MediaRecorder', mediaRecorder_salle2_Ecran, 'with options', options);
      mediaRecorder_salle2_Ecran.onstop = (event) => {
        console.log('Recorder stopped: ', event);
        SaveFile_salle2_Ecran();
      };
      mediaRecorder_salle2_Ecran.ondataavailable = handleDataAvailable_salle2_Ecran;
      mediaRecorder_salle2_Ecran.start(40); // collect 10ms of data
      console.log('MediaRecorder started', mediaRecorder_salle2_Ecran);
    }
    function stopRecording_salle2_Ecran() {
      mediaRecorder_salle2_Ecran.stop();
    }

    function SaveFile_salle2_Ecran(){
        const blob = new Blob(recordedBlobs_salle2_Ecran, {type: 'video/webm'});
        reader_salle2_Ecran.readAsArrayBuffer(blob)
    }
    
    reader_salle2_Ecran.onload = function(){
        var buffer = new Buffer(reader_salle2_Ecran.result)
        fs.writeFile(fileSave+"/salle2_Ecran.webm", buffer, {}, (err, res) => {
            if(err){
                console.error(err)
                return
            }
            console.log('video saved')
            wbemToMp4(fileSave+"/salle2_Ecran",fileSave+'\\salle2_Ecran')
        })
    }
</script>

<script type="text/javascript" async>
    var recordedBlobs_salle3_Ecran;
    var mediaRecorder_salle3_Ecran;
    var reader_salle3_Ecran = new FileReader()

    function handleDataAvailable_salle3_Ecran(event) {
      if (event.data && event.data.size > 0) {
        recordedBlobs_salle3_Ecran.push(event.data);
      }
    }

    function startRecording_salle3_Ecran() {
      recordedBlobs_salle3_Ecran = [];
      let options = {mimeType: 'video/webm'};
        if (!MediaRecorder.isTypeSupported(options.mimeType)) {
            console.error(`${options.mimeType} is not Supported`);
            errorMsgElement.innerHTML = `${options.mimeType} is not Supported`;
            options = {mimeType: 'video/webm;codecs=vp8'};
            if (!MediaRecorder.isTypeSupported(options.mimeType)) {
              console.error(`${options.mimeType} is not Supported`);
              errorMsgElement.innerHTML = `${options.mimeType} is not Supported`;
              options = {mimeType: 'video/webm'};
              if (!MediaRecorder.isTypeSupported(options.mimeType)) {
                console.error(`${options.mimeType} is not Supported`);
                errorMsgElement.innerHTML = `${options.mimeType} is not Supported`;
                options = {mimeType: ''};
              }
            }
        }
    try {
        mediaRecorder_salle3_Ecran = new MediaRecorder( document.getElementById('EcranSalle3').srcObject, options);
    }catch (e) {
        console.error('Exception while creating MediaRecorder:', e);
        errorMsgElement.innerHTML = `Exception while creating MediaRecorder: ${JSON.stringify(e)}`;
        return;
    }

      console.log('Created MediaRecorder', mediaRecorder_salle3_Ecran, 'with options', options);
      mediaRecorder_salle3_Ecran.onstop = (event) => {
        console.log('Recorder stopped: ', event);
        SaveFile_salle3_Ecran();
      };
      mediaRecorder_salle3_Ecran.ondataavailable = handleDataAvailable_salle3_Ecran;
      mediaRecorder_salle3_Ecran.start(40); // collect 10ms of data
      console.log('MediaRecorder started', mediaRecorder_salle3_Ecran);
    }
    function stopRecording_salle3_Ecran() {
      mediaRecorder_salle3_Ecran.stop();
    }

    function SaveFile_salle3_Ecran(){
        const blob = new Blob(recordedBlobs_salle3_Ecran, {type: 'video/webm'});
        reader_salle3_Ecran.readAsArrayBuffer(blob)
    }
    
    reader_salle3_Ecran.onload = function(){
        var buffer = new Buffer(reader_salle3_Ecran.result)
        fs.writeFile(fileSave+"/salle3_Ecran.webm", buffer, {}, (err, res) => {
            if(err){
                console.error(err)
                return
            }
            console.log('video saved')
            wbemToMp4(fileSave+"/salle3_Ecran",fileSave+'\\salle3_Ecran')
        })
    }
</script>

<script type="text/javascript" async>
var io = require('socket.io')(80);
io.on('connection', function (socket) {
    console.log("connection")
    //socket.emit('testClaibration', { my: 'data' })
})
setTimeout(()=>{io.emit('url',{url:fileSave})},2000);



const { desktopCapturer } = require('electron')

desktopCapturer.getSources({ types: ['screen'] }, (error, sources) => {
  if (error) throw error
    
  for (let i = 0; i < sources.length; ++i) {
      navigator.mediaDevices.getUserMedia({
        audio: false,
        video: {
          mandatory: {
            chromeMediaSource: 'desktop',
            chromeMediaSourceId: sources[1].id
          }
        }
      }).then((stream) => handleStream(stream))
        .catch((e) => handleError(e))
    
  }
})

function handleStream (stream) {
  var video = document.getElementById('EcranSalle1')
  video.srcObject = stream
  video.play()
}

function handleError (e) {
  console.log(e)
}

desktopCapturer.getSources({ types: ['screen'] }, (error, sources) => {
  if (error) throw error
    
  for (let i = 0; i < sources.length; ++i) {
      navigator.mediaDevices.getUserMedia({
        audio: false,
        video: {
          mandatory: {
            chromeMediaSource: 'desktop',
            chromeMediaSourceId: sources[2].id
          }
        }
      }).then((stream) => handleStream2(stream))
        .catch((e) => handleError2(e))
    
  }
})

function handleStream2 (stream) {
  var video = document.getElementById('EcranSalle2')
  video.srcObject = stream
  video.play()
}

function handleError2 (e) {
  console.log(e)
}

desktopCapturer.getSources({ types: ['screen'] }, (error, sources) => {
  if (error) throw error
    
  for (let i = 0; i < sources.length; ++i) {
      navigator.mediaDevices.getUserMedia({
        audio: false,
        video: {
          mandatory: {
            chromeMediaSource: 'desktop',
            chromeMediaSourceId: sources[3].id
          }
        }
      }).then((stream) => handleStream3(stream))
        .catch((e) => handleError3(e))
    
  }
})

function handleStream3 (stream) {
  var video = document.getElementById('EcranSalle3')
  video.srcObject = stream
  video.play()
}

function handleError3 (e) {
  console.log(e)
}
</script>