<div class="container-fluid" id="LesScenar">
    
</div>

<script type="text/javascript">
	const os = require('os');
	const storage = require('electron-json-storage');
	const path = require('path');
	const fs = require('fs');
	var file1=path.resolve(os.homedir(),'./EyeTracking')
	var file2=path.resolve(os.homedir(),'./EyeTracking/Storage')
	fs.access(file1, (err) => {
	  if (err) {
	    fs.mkdir(file1, (err) => {
	    	if (err) throw err;
	    });
	    fs.mkdir(file2, (err) => {
	    	if (err) throw err;
	    });
	  }
	});
	storage.setDataPath(file2)
	storage.set('yes', { foo: 'yse' }, function(error){
  		if (error) throw error;
	});
</script>

<!-- <tr class="text-center">
  <th scope="row">1</th>
  <td>sdgsdg</td>
  <td>2</td>
  <td>1</td>
  <td>1</td>
  <td class="text-center">11/04/2019<br>16:37</td>
  <td>
  	<button type="button" class="btn btn-outline-info btn-sm icon-grid">
  		<svg-icon class="glyph-icon" id="si-glyph-document-edit" ><src href="svg/si-glyph-document-edit.svg"/></svg-icon>
  	</button>
  	<button type="button" class="btn btn-outline-danger btn-sm icon-grid">
  		<svg-icon class="glyph-icon"><src href="svg/si-glyph-trash.svg"/></svg-icon>
  	</button>
  </td>
</tr>
<tr class="text-center">
  <th scope="row">2</th>
  <td>sdgsdg</td>
  <td>2</td>
  <td>1</td>
  <td>1</td>
  <td >11/04/2019<br>16:37</td>
  <td>
  	<button type="button" class="btn btn-outline-info btn-sm icon-grid">
  		<svg-icon class="glyph-icon"><src href="svg/si-glyph-document-edit.svg"/></svg-icon>
  	</button>
  	<button type="button" class="btn btn-outline-danger btn-sm icon-grid">
  		<svg-icon class="glyph-icon"><src href="svg/si-glyph-trash.svg"/></svg-icon>
  	</button>
  </td>
</tr> -->