<div class="container" id="scenario">
    <div class="card">
        <h5 class="card-header text-center">Scénario</h5>
        <input class="form-control card-header text-center" id="nameScenario" name="nameScenario" type="text" placeholder="Nom du Scénario">
<!--         data-toggle="popover" title="Popover title 2" data-content="Popover title" data-template='<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-header text-danger"></h3><div class="popover-body"></div></div>'data-trigger="manual"-->
        <div id="scenarioSalle1">
        </div>
        <div id="scenarioSalle2">
        </div>
        <div id="scenarioSalle3">
        </div>
        <div id="scenarioStorage">
        </div>
        
    </div>
    
    


   
</div>

